<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">OpenForm</button>
      <h1>{{ 'Nilai a : ' + total}}</h1>
      <h1>{{ 'Nilai rata-rata : ' + total/count}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          total: 0,
          count: 0,
        },
        methods: {
          openForm() {
            let num = 0;
            while (this.total <= 10) {
              num = prompt("Masukan a");
              this.total += +num;
              this.count++;
            }
          },
        },
      });
    </script>
  </body>
</html>
