<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid;
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 15rem;
        margin-bottom: 5rem;
      }

      .form > input {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form class="form" @submit.prevent="handleSubmit">
        <input
          type="text"
          minlength="5"
          maxlength="50"
          required
          placeholder="Nama"
          v-model="payload.name"
        />
        <input
          type="text"
          minlength="5"
          maxlength="50"
          required
          placeholder="Alamat"
          v-model="payload.address"
        />
        <input
          type="number"
          required
          placeholder="Nomor Hp"
          v-model="payload.noHp"
        />
        <input
          v-if="uploadMode"
          type="file"
          required
          v-model="payload.photo"
          ref="photo"
        />
        <button>{{editMode === true ? 'update' : 'submit'}}</button>
      </form>

      <table>
        <tr>
          <th v-for="(member, name) in title" :key="name">{{ name }}</th>
        </tr>
        <tr v-for="member in members" :key="member.id">
          <td>{{ member.id }}</td>
          <td>{{ member.name }}</td>
          <td>{{ member.address }}</td>
          <td>{{ member.no_hp }}</td>
          <td>
            <img
              :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'"
              width="150"
              :alt="member.name"
            />
          </td>
          <td>{{ member.created_at}}</td>
          <td>{{ member.updated_at }}</td>
          <td>
            <button @click="handleEdit(member)">edit</button>
            <button @click="handleDelete(member.id)">hapus</button>
            <button @click="handleUploadClick(member)">upload foto</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const DemoClient = axios.create({
        baseURL: "http://demo-api-vue.sanbercloud.com/api",
      });

      var vm = new Vue({
        el: "#app",

        data() {
          return {
            payload: {
              id: null,
              name: "",
              address: "",
              noHp: null,
              photo: null,
            },
            title: [],
            members: [],
            editMode: false,
            uploadMode: false,
            photoDomain: "http://demo-api-vue.sanbercloud.com/",
          };
        },

        created() {
          this.getMembers();
        },

        methods: {
          getMembers() {
            DemoClient.get("/member")
              .then((response) => {
                this.title = response.data.members[0];
                this.members = response.data.members;
                console.log(response.data);
              })
              .catch((error) => {
                console.log(error);
              });
          },

          getMember() {
            DemoClient.get("/member");
          },

          handleDelete(id) {
            DemoClient.delete(`/member/${id}`).then((response) => {
              alert("Berhasil");
              this.getMembers();
            });
          },

          clearForm() {
            this.payload.name = "";
            this.payload.address = "";
            this.payload.noHp = "";
            this.payload.photo = "";
          },

          handleEdit(data) {
            this.payload.id = data.id;
            this.payload.name = data.name;
            this.payload.address = data.address;
            this.payload.noHp = data.no_hp;
            this.editMode = true;
          },

          handleSubmit() {
            let formData = new FormData();
            formData.append("name", this.payload.name);
            formData.append("address", this.payload.address);
            formData.append("no_hp", this.payload.noHp);

            if (this.uploadMode) {
              let file = this.$refs.photo.files[0];
              let formDataPhoto = new FormData();
              formDataPhoto.append("photo_profile", file);

              DemoClient.post(
                `/member/${this.payload.id}/upload-photo-profile`,
                formDataPhoto
              ).then((response) => {
                console.log("Berhasil");
                this.uploadMode = false;
                this.getMembers();
              });
            }

            if (this.editMode) {
              DemoClient.post(`/member/${this.payload.id}`, formData, {
                params: { _method: "PUT" },
              }).then((response) => {
                alert("Berhasil");
                this.clearForm();
                this.getMembers();
                this.editMode = false;
              });
            } else {
              DemoClient.post("/member", formData).then((response) => {
                alert("Berhasil");
                this.clearForm();
                this.getMembers();
              });
            }
          },

          handleUploadClick(data) {
            this.handleEdit(data);
            this.uploadMode = true;
          },
        },
      });
    </script>
  </body>
</html>
