<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="handleSubmit">
        <input type="text" v-model="searchKey" />
        <button v-if="editMode">Update</button>
        <button v-else type="submit">Add</button>
      </form>

      <ul>
        <li v-for="(user, index) in users">
          <span> {{user.name}}</span>
          <button @click="handleEditMode(user.name, index)">Edit</button>
          <button @click="handleDelete(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          searchKey: "",
          editMode: false,
          userIndex: {},
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
        },

        methods: {
          handleSubmit() {
            if (this.editMode) {
              this.users[this.userIndex].name = this.searchKey;
            } else {
              this.users.push({ name: this.searchKey });
            }
            this.editMode = false;
            this.searchKey = "";
            this.userIndex = null;
          },

          handleEditMode(name, index) {
            this.editMode = true;
            this.userIndex = index;
            this.searchKey = name;
          },

          handleDelete(index) {
            this.editMode = false;
            if (window.confirm("Apakah anda yakin?")) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
