/* warna
gray 50  : #f9fafb
gray 200 : #e5e7eb
gray 300 : #d1d5db
gray 600 : #4b5563 */

/* font
roboto 300
roboto 500
roboto 700 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #4b5563;
}

html {
  background-color: #e5e7eb;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  overflow: visible;
}

a {
  text-decoration: none;
}

p {
  color: #4b5563;
}

h3 {
  color: #4b5563;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 99%;
  background-color: #f9fafb;
  padding: 3px 10px;
  border-width: 0px 0px 2px 0px;
  border-color: #d1d5db;
  border-style: solid;
}

header p {
  font-size: smaller;
  font-weight: 500;
}

header > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > section:first-child > p:nth-of-type(odd) {
  width: 180px;
}

header > section:first-child > p:nth-of-type(1) {
  width: 180px;
}

header > section:first-child > p:nth-of-type(1) > * {
  padding: 0px 6px;
}

header > section:nth-of-type(2) {
  text-align: center;
  justify-content: space-between;
}

header > section:nth-of-type(2) i {
  color: #4b5563;
  margin-top: 10px;
  padding: 0px 10px;
  font-size: xx-large;
  cursor: pointer;
}

header > section:nth-of-type(2) h1 {
  color: #4b5563;
  padding: 10px;
  font-weight: 300;
  font-size: xx-large;
}

main {
  display: flex;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border-width: 0 2px 0 0;
  border-color: #d1d5db;
  border-style: solid;
}

main > nav li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  cursor: pointer;
}

main > nav li > * {
  padding: 0 10px;
}

main > nav > section {
  margin-bottom: 20px;
  display: flex;
  border-width: 2px;
  border-color: #d1d5db;
  border-style: solid;
  border-radius: 10px;
  width: 80%;
  background-color: #f9fafb;
}

main > article > section:first-child {
  display: flex;
}

main > article > section {
  border-width: 2px;
  border-color: #d1d5db;
  border-style: solid;
  border-radius: 10px;
  background-color: #f9fafb;
  padding: 1rem 2rem;
  margin-bottom: 20px;
}

main > article > section:hover {
  transition: all 0.2s ease-out;
  border-color: #4b5563;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

main > article > section > p {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

main > article section:first-child img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 30px;
}

main > article section:first-child p {
  font-weight: 300;
  margin-top: 5px;
}

main > article {
  width: 75%;
  padding: 0 2rem;
}

main > article ul > li {
  padding-top: 5px;
  margin-left: 20px;
  padding-bottom: 6px;
  list-style-type: disc;
}

main > article li {
  font-weight: 300;
}

main > article hr {
  margin: 15px 0px;
}

@media only screen and (max-width: 1300px) {
  main {
    padding: 6rem 0.2rem;
  }

  header > section:first-child > p:nth-of-type(3) {
    display: none;
  }

  main > nav {
    display: none;
  }

  main > article {
    width: 100%;
  }
}
