<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="searchKey" @keyup="handleChange" />
      <ul v-if="!searchKey">
        <li v-for="(item, index) in books">{{ books[index] }}</li>
      </ul>
      <ul v-else>
        <li v-for="(item, index) in filteredBooks">
          {{ filteredBooks[index] }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          searchKey: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
          filteredBooks: [],
        },

        methods: {
          handleChange() {
            this.filteredBooks = this.books.filter((book) => {
              return book.toLowerCase().includes(this.searchKey);
            });
          },
        },
      });
    </script>
  </body>
</html>
